<div class="daemon-details" data-daemon-id="{{ daemon_id }}">
    <header>
        <div class="title">{{daemon_id}}</div>
        <div class="link-back">Back</div>
        <div class="autostart">
            <input type="checkbox" id="autostart" {{ 'checked="checked"' if autostart else ''}}/>
            <img src="static/img/spinner_small.gif" />
            <div class="label">autostart</div>
        </div>
    </header>
    <div class="content">
        <label for="run_file">run file</label>
        <textarea id="run_file">{{ run_file_content }}</textarea>
        <label for="log_file">log file [tail]</label>
        <textarea id="log_file">{{ log_tail }}</textarea>
    </div>
    <footer>&nbsp;
    </footer>
</div>